
body {
  background: #b8cdff!important;
  color: white;
}


.logo {
  font-family: 'Luminari', fantasy;
  color: white;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}