body {
	background-color: #b8cdff !important;
  }
  
  .navbar{
	color: black;
	background-color: #aad3f0;
  }
  .navbar-brand {
	font-family: 'Luminari', fantasy;
  	color: black;
  }
  
  .btn {
	border: 2px solid black;
  }
  
  .login-btn{
	background-color: #ffc599;
	color: white;
	border-color: #ffc599;
  }
  
  .signup-btn{
	color: white;
	border-color: #ffc599;
  }
  
  .start{
	text-align: center;
	background-color: #b8cdff;
	margin-top: 10%;
	color: black;
  }