body {
  background-color: #AED6F1 !important;
  color: black;
}

.navbar{
  color:black;
  /* background-color: #94c3e4; */
  background-color: #e9d2d2;
}

.navbar-brand{
  font-family: 'Luminari', fantasy;
  color: black;
}

.btn {
  border: 2px solid;
}

.login-btn{
  background-color: #e799ffb4;
  color: white;
  border-color: #e799ffb4;
}

.signup-btn{
  margin-left: 0.2cm;
  color: white;
  border-color: #e799ffb4;
}

.start{
  text-align: center;
  background-color: #AED6F1;
  margin-top: 10%;
  color: black;
}

.title{
  color: black;
}

.enter-btn {
  background-color: #e799ffb4;
  color: white;
  border-color: #e799ffb4;
}