{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}

{% block title %}Make Payment{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'my_fines' %}">My Fines</a></li>
  <li class="breadcrumb-item active">Make Payment</li>
{% endblock %}

{% include 'messages.html'%}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    <div>
      <label style="font-weight:bold;" for="id_card_type_0">Card Type:</label>
        <ul style="list-style-type:none;background-color:ghostwhite;" id="id_card_type" class="form-control">
          <li class="radio">
            <label for="id_card_type_0">
            <input type="radio" name="card_type" value="credit" required="" id="id_card_type_0">
              Credit
            </label>
          </li>
          <li class="radio">
            <label for="id_card_type_1">
            <input type="radio" name="card_type" value="debit" required="" id="id_card_type_1">
              Debit
            </label>
          </li>
        </ul> 
      </div>
    
      <div class="form-group">
        <label for="id_amount"><b>Amount:</label>
          <input style="background-color:ghostwhite;" type="number" name="amount" min="0.1" step="any" class="form-control" required="" id="id_amount">
      </div>    
    <button type="submit" class="btn login-btn">Pay</button>
    <a href="{% url 'my_fines' %}" class="btn signup-btn" role="button">Cancel</a>
  </form>
{% endblock %}