{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}

{% block title %}My Fines{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">My Fines</li>
{% endblock %}

{% block content %}
  <h3>My Fines</h2>
  <h2>$ {{ amount }}</h2>
  <h4>Payment History:</h4>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Transaction Date</th>
        <th>Amount</th>
        <th>Card Type</th>
      </tr>
    </thead>
    <tbody>
      {% for p in payment_history.all %}
        <tr>
          <td class="align-middle">{{ p.transaction_time }}</td>
          <td class="align-middle">{{ p.amount }}</td>
          <td class="align-middle">{{ p.card }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="mb-4">
    <a href="{% url 'make_payment' %}" class="btn login-btn">Pay Fines</a>
  </div>
{% endblock %}