{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}<link rel="stylesheet" href="{% static 'css/app.css' %}">{% endblock %}

{% block body %}
      <nav class="navbar navbar-expand-sm">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Integrated Library System</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainMenu">
            {% if user.is_authenticated %}
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item" href="{% url 'my_books' %}">My books</a>
                    <a class="dropdown-item" href="{% url 'my_fines' %}">My fines</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                  </div>
                </li>
              </ul>
            {% else %}
              <form class="form-inline ml-auto">
                <a href="{% url 'login' %}" class="btn login-btn">Log in</a>
                <a href="{% url 'signup' %}" class="btn signup-btn">Sign up</a>
              </form>
            {% endif %}
          </div>
        </div>
      </nav>
    <div class="start">
      <h1>Welcome to the Integrated Library System</h1>
      <p>by Group 16 under the guidance of <a href="https://www.drdannypoo.com">Dr Danny Poo</a></p>
          {% comment %} <a href="{% url 'login' %}" class="btn login-btn">Log in</a>
          <a href="{% url 'signup' %}" class="btn signup-btn">Sign up</a> {% endcomment %}
      <h4><a href="{% url 'admin:index' %}" class="btn login-btn">Admin Login</a></h4>
    </div>
{% endblock %}


